[project]
	description = 4 semester(KPP). My Java Game (Snake).
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Viktoria Fomenok (viktoria-fomenok)
[access "refs/for/refs/*"]
	read = group user/Viktoria Fomenok (viktoria-fomenok)
	push = group user/Viktoria Fomenok (viktoria-fomenok)
	label-Code-Review = -2..+2 group user/Viktoria Fomenok (viktoria-fomenok)
	label-Verified = -1..+1 group user/Viktoria Fomenok (viktoria-fomenok)
	rebase = group user/Viktoria Fomenok (viktoria-fomenok)
	removeReviewer = group user/Viktoria Fomenok (viktoria-fomenok)
	submit = group user/Viktoria Fomenok (viktoria-fomenok)
[access "refs/heads/*"]
	read = group user/Viktoria Fomenok (viktoria-fomenok)
	create = group user/Viktoria Fomenok (viktoria-fomenok)
	push = +force group user/Viktoria Fomenok (viktoria-fomenok)
	pushMerge = group user/Viktoria Fomenok (viktoria-fomenok)
	label-Code-Review = -2..+2 group Registered Users
[access "refs/tags/*"]
	push = +force group user/Viktoria Fomenok (viktoria-fomenok)
	pushTag = group user/Viktoria Fomenok (viktoria-fomenok)
	pushSignedTag = group user/Viktoria Fomenok (viktoria-fomenok)
