[project]
	description = 4 semester(KPP). My Java Game (Snake).
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/viktoria-fomenok
[access "refs/for/refs/*"]
	read = group user/viktoria-fomenok
	push = group user/viktoria-fomenok
	label-Code-Review = -2..+2 group user/viktoria-fomenok
	label-Verified = -1..+1 group user/viktoria-fomenok
	rebase = group user/viktoria-fomenok
	removeReviewer = group user/viktoria-fomenok
	submit = group user/viktoria-fomenok
[access "refs/heads/*"]
	read = group user/viktoria-fomenok
	create = group user/viktoria-fomenok
	push = +force group user/viktoria-fomenok
	pushMerge = group user/viktoria-fomenok
[access "refs/tags/*"]
	push = +force group user/viktoria-fomenok
	pushTag = group user/viktoria-fomenok
	pushSignedTag = group user/viktoria-fomenok
